#root {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: justify;
}

br {
  display: block;
  margin: 10px 0;
}

p {
  line-height:22px;
  white-space: pre-line;
  line-break: loose;
}

p {
  
}